<div class="container">
    <form class="form" name="addOneForm">
        <div class="card">
            <div class="card-header">
                <h5> Add a new request </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-4">

                        <h3>General</h3>
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="rg_ipp">IPP</label>
                                    <input type="number"
                                           min="0.5"
                                           max="2"
                                           step="0.01"
                                           class="form-control form-control-sm"
                                           id="rg_ipp"
                                           ng-model="request_group_general.ipp_value">

                                </div>
                                <div class="form-group">
                                    <label for="rg_name">Name</label>
                                    <input type="text"
                                           placeholder="Name of request"
                                           class="form-control form-control-sm"
                                           id="rg_name"
                                           ng-model="request_group_general.name">
                                </div>
                                <div class="form-group">
                                    <label for="rg_proposal">Proposal</label>
                                    <input type="text"
                                           autocomplete="on"
                                           placeholder="Proposal ID"
                                           class="form-control form-control-sm"
                                           id="rg_proposal"
                                           ng-required="true"
                                           ng-model="request_group_general.proposal">
                                </div>
                                <div class="form-group">
                                    <label for="rg_observation_type">Observation Type</label>
                                    <select class="form-control form-control-sm" id="rg_observation_type"
                                            ng-options="obs_type for obs_type in observation_types"
                                            ng-model="request_group_general.observation_type">
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="rg_operator">Operator</label>
                                    <select class="form-control form-control-sm" id="rg_operator"
                                            ng-options="operator for operator in operator_options"
                                            ng-model="request_group_general.operator">
                                    </select>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-3 col-md-4">
                        <h3>Target</h3>
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="target_name">Name</label>
                                    <input type="text"
                                           placeholder="Enter target name"
                                           class="form-control form-control-sm"
                                           id="target_name"
                                           ng-required="true"
                                           ng-change="simbad_query()"
                                           ng-model-options="{debounce: 500}"
                                           ng-model="target.name">

                                </div>
                                <div class="form-group">
                                    <label for="target_ra">RA</label>
                                    <input type="number"
                                           min="0"
                                           max="360"
                                           step="any"
                                           placeholder="Right Ascension"
                                           class="form-control form-control-sm"
                                           id="target_ra"
                                           ng-required="true"
                                           ng-model="target.ra">
                                </div>
                                <div class="form-group">
                                    <label for="target_dec">DEC</label>
                                    <input type="number"
                                           min="-90"
                                           max="90"
                                           step="any"
                                           placeholder="Declination"
                                           class="form-control form-control-sm"
                                           id="target_dec"
                                           ng-required="true"
                                           ng-model="target.dec">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="target_proper_motion_ra"
                                                   title="Proper Motion Right Ascension">PM RA</label>
                                            <input type="number"
                                                   step="any"
                                                   placeholder="Proper Motion"
                                                   class="form-control form-control-sm"
                                                   id="target_proper_motion_ra"
                                                   ng-required="true"
                                                   ng-model="target.proper_motion_ra">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="target_proper_motion_dec"
                                                   title="Proper Motion Declination">PM DEC</label>
                                            <input type="number"
                                                   step="any"
                                                   placeholder="Proper Motion"
                                                   class="form-control form-control-sm"
                                                   id="target_proper_motion_dec"
                                                   ng-required="true"
                                                   ng-model="target.proper_motion_dec">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="target_epoch">Epoch</label>
                                            <input type="text"
                                                   placeholder="Epoch"
                                                   class="form-control form-control-sm"
                                                   id="target_epoch"
                                                   ng-required="true"
                                                   ng-model="target.epoch">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                           <label for="target_type">Type</label>
                                           <select class="form-control form-control-sm" id="target_type"
                                                   ng-options="targ_type for targ_type in target_types"
                                                   ng-model="target.type">
                                           </select>
                                        </div>
                                    </div>
                                </div>


                             </div>
                         </div>
                    </div>
                    <div class="col-sm-3 col-md-4">
                        <h3>Instrument Configurations</h3>
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="configuration_instrument_type">Instrument Type</label>
                                    <select class="form-control form-control-sm"
                                            id="configuration_instrument_type"
                                            ng-disabled="true"
                                            ng-options="instrument for instrument in instrument_type"
                                            ng-model="configurations[0].instrument_type">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inst_conf_opt_elem_grating">Grating</label>
                                    <select class="form-control form-control-sm" id="inst_conf_opt_elem_grating"
                                            ng-disabled="disable_inst_conf()"
                                            ng-options="grating for grating in gratings"
                                            ng-model="instrument_configs[0].optical_elements.grating">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inst_conf_opt_elem_slit">Slit</label>
                                    <select class="form-control form-control-sm"
                                            id="inst_conf_opt_elem_slit"
                                            ng-disabled="disable_inst_conf()"
                                            ng-options="slit for slit in slits"
                                            ng-model="instrument_configs[0].optical_elements.slit">
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inst_conf_rot_mode">Rotation Mode</label>
                                            <select class="form-control form-control-sm"
                                                    id="inst_conf_rot_mode"
                                                    ng-disabled="disable_inst_conf()"
                                                    ng-options="rot_mode for rot_mode in rot_modes"
                                                    ng-model="instrument_configs[0].rot_mode">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inst_conf_extra_par_rot_angle">Rotation Angle</label>
                                            <input type="text"
                                                   class="form-control form-control-sm"
                                                   id="inst_conf_extra_par_rot_angle"
                                                   ng-disabled="disable_inst_conf()"
                                                   ng-model="instrument_configs[0].extra_params.rot_angle">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inst_conf_bin_x">Binning X</label>
                                            <select class="form-control form-control-sm"
                                                    id="inst_conf_bin_x"
                                                    ng-disabled="true"
                                                    ng-options="binning for binning in [1, 2, 3]"
                                                    ng-model="instrument_configs[0].bin_x">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inst_conf_bin_y">Binning Y</label>
                                            <select class="form-control form-control-sm"
                                                    id="inst_conf_bin_y"
                                                    ng-disabled="true"
                                                    ng-options="binning for binning in [1, 2, 3]"
                                                    ng-model="instrument_configs[0].bin_y">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 col-md-4">
                        <h3>Time Windows
                            <button class="btn btn-outline-primary"
                                    type="button"
                                    ng-click="add_one_window()">+1</button>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-4" ng-repeat="window in windows">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="form-group">
                                     <button type="button"
                                             class="close ng-cloak"
                                             ng-click="remove_window($index)"
                                             ng-if="windows.length > 1">x</button>
                                </div>

                                <div class="form-group">
                                    <label for="{{ 'window_start_' + $index}}">Start</label>
                                    <div class="input-group" id="{{ 'window_start_' + $index}}">
                                    
                                        <input type="text"
                                               placeholder="Select start date"
                                               class="form-control form-control-sm"
                                               uib-datepicker-popup="{{format}}"
                                               ng-model="window.start"
                                               is-open="popups[$index].start",
                                               datepicker-options="date_options"
                                               ng-required="true"
                                               close-text="Close"
                                               alt-input-formats="altInputFormats">
                                        <span class="input-group-btn">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    ng-click="open_date_picker_start($index)">
                                                <i class="fa-svg-icon">
                                                    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>
                                                </i>
                                            </button>
                                        </span>
                                    
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="{{ 'window_end_' + $index}}">End</label>
                                    <div class="input-group" id="{{ 'window_end_' + $index}}">

                                        <input type="text"
                                               placeholder="Select end date"
                                               class="form-control form-control-sm"
                                               uib-datepicker-popup="{{format}}"
                                               ng-model="window.end"
                                               is-open="popups[$index].end",
                                               datepicker-options="date_options"
                                               ng-required="true"
                                               close-text="Close"
                                               alt-input-formats="altInputFormats">
                                        <span class="input-group-btn">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    ng-click="open_date_picker_end($index)">
                                                <i class="fa-svg-icon">
                                                    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>
                                                </i>
                                            </button>
                                        </span>
                                    </div>
                                </div>






                            </div>
                        </div> 
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col col-sm-3 col-md-4">
                        <h3>Configurations
                                <button class="btn btn-outline-primary"
                                        type="button"
                                        ng-click="add_one_configuration()">+1</button>
                        </h3>
                    </div>
                </div>
                <div class="row">
                        <div class="col col-sm-3 col-md-4" ng-repeat="conf in configurations">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <button type="button"
                                            class="close ng-cloak"
                                            ng-click="remove_configuration($index)"
                                            ng-if="configurations.length > 1">x</button>
                                    <div class="form-group">
                                        <label for="configuration_type">Type</label>
                                        <select class="form-control form-control-sm" id="configuration_type"
                                                ng-options="conf_opt for conf_opt in configuration_types"
                                                ng-model="conf.type">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="configuration_guiding_config">Guiding Configuration</label>
                                        <select class="form-control form-control-sm"
                                                id="configuration_guiding_config"
                                                ng-options="guiding_config for guiding_config in guiding_configs"
                                                ng-model="conf.guiding_config.state">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="configuration_acquisition_config_mode">Aquisition Configuration Mode</label>
                                        <select class="form-control form-control-sm"
                                                id="configuration_acquisition_config_mode"
                                                ng-options="conf for conf in acquisition_config_modes"
                                                ng-model="conf.acquisition_config.mode">
                                        </select>
                                     </div>
                                    <div class="form-group">
                                        <label for="configuration_constraints_max_airmass">Maximum Airmass</label>
                                        <input type="number"
                                               min="1"
                                               step="0.1"
                                               max="3"
                                               class="form-control form-control-sm"
                                               id="configuration_constraints_max_airmass"
                                               ng-model="conf.constraints.max_airmass">
                                    </div>
                                    <div class="form-group">
                                        <label for="configuration_constraints_min_lunar_distance">Minimum Lunar Distance</label>
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="configuration_constraints_min_lunar_distance"
                                               ng-model="conf.constraints.min_lunar_distance">
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="inst_conf_exposure_time">Exposure Time</label>
                                                <input type="number"
                                                       min="0"
                                                       placeholder="Seconds"
                                                       class="form-control form-control-sm"
                                                       id="inst_conf_exposure_time"
                                                       ng-required="true"
                                                       ng-model="instrument_configs[$index].exposure_time">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="inst_conf_exposure_count">Exposure Count</label>
                                                <input type="number"
                                                       min="1"
                                                       class="form-control form-control-sm"
                                                       id="inst_conf_exposure_count"
                                                       ng-required="true"
                                                       ng-model="instrument_configs[$index].exposure_count">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary m-1" ng-click="post_data()" ng-disabled="!addOneForm.$valid" style="float: right">Submit</button>
                <button class="btn btn-danger m-1" ng-click="cancel()" style="float: right">Cancel</button>
            </div>
        </div>
    </form>
</div>





